<div class="col-xs-12 col-sm-4">
<div class="card">
  <%= restaurant.name %>
  <%= content_tag(:span, "Category: #{restaurant.category}", class: "category")  %>
  <%= link_to 'More', restaurant, class: "button-white-fixed-right"%>
</div>