<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
         <p>Test content</p>
    </div>
    <div class="col-sm-12 col-md-6">
         <p>Test content</p>
    </div>
  </div>
</div>